
<div class="container" id="gridContainer">
  
    <div class="gridItem">
        <div class="card cardSize">
            <div class="card-body">
              <h5 class="card-title titulo">API REST Spring Boot</h5>
              <div class="imgBox">
                <img src="../../assets/ApiSpring.jpg" alt="JavaMySQLSpringBoot" id="img1">
              </div>
              <p class="card-text desc"> Aplicación de escritorio que permite gestionar los pedidos, mesas, alimentos, bebidas y usuarios de un restaurante </p>
            </div>
        </div>
    </div>

    <div class="gridItem">
        <div class="card cardSize">
            <div class="card-body">
              <h5 class="card-title titulo">Aplicación móvil gestión pedidos restaurante </h5>
              <div class="imgBox">
                <img src="../../assets/AndroidApp.jpg" alt="JavaMySQLSpringBoot" id="img1">
              </div>
              <p class="card-text desc"> Aplicación móvil que permite gestionar los pedidos, órdenes, alimentos, bebidas y mesas de un restaurante </p>
            </div>
        </div>
    </div>

    
    <div class="gridItem">
        <div class="card cardSize">
            <div class="card-body">
              <h5 class="card-title titulo">Aplicación escritorio gestión pedidos restaurante</h5>
              <div class="imgBox">
                <img src="../../assets/AppEscritorio.jpg" alt="JavaMySQLSpringBoot" id="img3">
              </div>
              <p class="card-text desc"> Aplicación de escritorio que permite gestionar los pedidos, mesas, alimentos, bebidas y usuarios de un restaurante </p>
            </div>
        </div>
    </div>

    <div class="gridItem">
      <div class="card cardSize">
          <div class="card-body">
            <h5 class="card-title titulo">Aplicación escritorio gestión pedidos Angular</h5>
            <div class="imgBox">
              <img src="../../assets/AngularApp.jpg" alt="JavaMySQLSpringBoot" id="img3">
            </div>
            <p class="card-text desc"> En desarrollo, disponible próximamente </p>
          </div>
      </div>
  </div>
</div>

