<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Portfolio Teodor Hristov</title>
    <link rel="icon" type="image/x-icon" href="/src/favicono.ico">
</head>
<body>

  <div class="container">

    <header>
      <div class="logo">
        <img src="../assets/logo.png" class="imagenLogo"alt="Logo">
        <h1 class="nombre">Teodor <br>Hristov</h1>
      </div>

        <ul class="nav menu">
          <li class="nav-item">
            <a class="nav-link active navItem" aria-current="page" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navItem" href="#developedProjects">Proyectos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navItem" href="#contactForm">Contacto</a>
          </li>
        </ul>
    </header>

    <main>
      <section class="descFoto">
        <div class="descFotoGrid" id="descFotoGrid">
          <div class="card descFotoGridItem">
            <div class="card-body">
              <h5 class="card-title titulo">Desarrollador de Software</h5>
                <p class="card-text desc">Técnico Superior en Desarrollo de Aplicaciones Multiplataforma con conocimientos en: </p>
                <div class="lenguajes">
                  <img src="../assets/java.svg" alt="JAVA">
                  <img src="../assets/spring-svgrepo-com.svg" alt="SpringBoot">
                  <img src="../assets/icons8-c-48.png" alt="C#">
                  <img src="../assets/PL.svg" alt="PLSQL">
                  <img src="../assets/icons8-android-os-48.png" alt="Android">
                  <img src="../assets/html5.svg" alt="HTML">
                  <img src="../assets/css.svg" alt="CSS">
                  <img src="../assets/javascript.svg" alt="JavaScript">
                  <img src="../assets/angular.svg" alt="Angular">
                  <img src="../assets/bootstrap.svg" alt="BootStrap">
                  <img src="../assets/visual-studio.svg" alt="Microsoft Visual Studio">
                  <img src="../assets/mysql.svg" alt="MySQL">
                  <img src="../assets/linux.svg" alt="linux">
                  <img src="../assets/postgresql.svg" alt="postgresql">
                  <img src="../assets/postman.svg" alt="Postman">
                  <img src="../assets/intellijidea.svg" alt="intelliJIdea">
                  <img src="../assets/vscode.svg" alt="VSCODE">
                  <img src="../assets/eclipse.svg" alt="Eclipse">
                </div>
                <p class="card-text desc">Realizo principalmente el desarrollo back-end de aplicaciones para que ofrezcan una funcionalidad robusta. También dispongo de conocimientos para desarrollar soluciones front-end que cumplan los requisitos de los clientes. </p>
                <div class="enlaces">
                  <button type="button" class="btn btn-dark botonCV" (click)="descargarCurriculum()">Descargar CV</button>
                  <button type="button" class="btn btn-dark botonLI rounded-circle" (click)="redireccionLinkedIn()">
                    <img src="../assets/linkedin.svg" alt="perfilLinkedIn" class="imgLinkedIn">
                  </button>
                  <button type="button" class="btn btn-dark botonLI rounded-circle">
                    <img src="../assets/github.svg" alt="perfilLinkedIn" class="imgLinkedIn">
                  </button>
                </div>
            </div>
          </div>

          <div class="descFotoGridItem imagen-columna">
            <img src="../assets/HypeHorizen2.jpg" class="img-fluid imgTed" alt="Foto Teodor Hristov">
          </div>
        </div>

        <div class="softSkills">
          <p>Trabajador, responsable, con motivación para seguir formándome en el mundo del desarrollo y mejorar/adquirir habilidades. Capacidad de aprendizaje y adaptación de forma rápida a cualquier otro lenguaje, tecnología o aptitud necesaria para el desempeño de las tareas a realizar.</p>
        </div>
      </section>

      <div class="btnOcultar" id="developedProjects">
        <p id="pProyectos">PROYECTOS DESARROLLADOS<p>
      </div>

      <section id="projectsMade">
        <app-projects></app-projects>
      </section>

      <section id="contactForm">
        <p>CONTACTO</p>
        <div class="card" id="contenedorFormulario">
          <div class="card-body">
              <form action="https://formsubmit.co/tedirubio312@gmail.com" method="POST">
                <div class="mb-3 fNombre">
                  <label for="nombre" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ej: Teodor Hristov" required>
                </div>
                <div class="mb-3 fNombre">
                  <label for="asunto" class="form-label" id="asuntos">Asunto</label>
                  <input type="text" class="form-control" id="asunto" name="asunto" placeholder="Ej: Busco desarrollador API's junior" required>
                </div>
                <div class="mb-3 fNombre">
                  <label for="mensaje" class="form-label">Mensaje</label>
                  <textarea class="form-control" id="mensaje" name="mensaje" placeholder="Escribe tu mensaje aquí, recibiré un correo con el mismo" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
                <!-- <input type="hidden" name="_next" value="http://localhost:4200"> -->
              </form>
          </div>
        </div>
      </section>
    </main>
  </div>
</body>
</html>
<router-outlet></router-outlet>